{% extends 'base.html' %}
{% block 'titulo' %}Cadastrar Serviços{% endblock %}

{% block 'Material' %}
                

<h1>Atualizar Serviço</h1>
  <form method="get">
    {{ filter.form.as_p }}
    <button type="submit">Buscar</button>
  </form>
  <label for="projeto"> 
      <form action="atualizarservico" method="post">
        {% for servico in tudo %}
        <br><label for="projeto"> Projeto</label>
        <input type="text" value="{{servico.Projeto}}">
        <label for="projeto"> Nota</label>
        <input type="text" value="{{servico.Nota}}"><br><hr>
        <label for="projeto"> status</label>
        <input type="text" value="{{servico.Status}}">
        <label for="projeto"> Descricao</label>
        <input type="text" value="{{servico.Descricao}}"><br><hr>
        <label for="projeto"> Local</label>
        <input type="text" value="{{servico.Local}}">
        <label for="projeto"> status</label>
        <input type="text" value="{{servico.Status}}"><br><hr>
        <label for="projeto"> Data Inicio</label>
        <input type="text" value="{{servico.Data_Inicio}}">
        <label for="projeto"> Data_Fim</label>
        <input type="text" value="{{servico.Data_Fim}}"><br><hr>
        <label for="projeto"> Data_Programacao</label>
        <input type="text" value="{{servico.Data_Programacao}}">
        <label for="projeto"> Equipe</label>
        <input type="text" value="{{servico.Equipe}}"><br><hr>
        <label for="projeto"> valor_inicial</label>
        <input type="text" value="{{servico.valor_inicial}}">
        <label for="projeto"> valor_final</label>
        <input type="text" value="{{servico.valor_final}}">
        {% endfor %}
        <br>
        <hr>
        <button type="submit">Salvar</button>
        <button type="reset">Limpar</button>
      </form>


{% endblock %}

