{% extends 'base.html' %}
{% block 'titulo' %}Cadastrar Serviços{% endblock %}

{% block 'Material' %}
                
<div class="col-3 py-3">

    {% if erro == '1' %}
        <div class="alert alert-danger" role="alert">
            {{texto}}
            
        </div>
    {% endif %}


    <form action="/cadastroservico/" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="ProjetoOS" class="form-label">Projeto ou Orden de Serviço</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="Projeto">
        </div>
        <div class="mb-3">
            <label for="nota" class="form-label">nota</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="nota">
        </div>
        <span>Status Obras</span>
        <select class="form-select form-select-lg mb-3" name="status">
            <option selected>Status</option>
            <option value="Em programacao">Em programacao</option>
            <option value="Programado">Programado</option>
            <option value="Em execucao">Em execucao</option>
            <option value="Executado">Executado</option>
            <option value="Executado Fora Prazo">Executado Fora Prazo</option>
            <option value="Nao Executado">Nao Executado</option>
            <option value="Interropida">Interropida</option>
            <option value="Medicao">Medicao</option>
            <option value="Entregue">Entregue</option>
            <option value="Pago">Pago</option>
        </select>
        <div class="mb-3">
            <label for="nota" class="form-label">Descricao</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="Descricao">
        </div>
        <div class="mb-3">
            <label for="nota" class="form-label">Local</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="Local">
        </div>
        <div class="mb-3">
            <label for="nota" class="form-label">Data_Inicio</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="Data_Inicio">
        </div>
        <div class="mb-3">
            <label for="nota" class="form-label">Data_Fim</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="Data_Fim">
        </div>
        <div class="mb-3">
            <label for="nota" class="form-label">Data_Programacao</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="Data_Programacao">
        </div>
        <div class="mb-3">
            <label for="nota" class="form-label">Equipe</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="Equipe">
        </div>
        <div class="mb-3">
            <label for="nota" class="form-label">valor_inicial</label>
            <input type="number" class="form-control" id="exampleInputEmail1" name="valor_inicial">
        </div>
        <div class="mb-3">
            <label for="nota" class="form-label">valor_final</label>
            <input type="number" class="form-control" id="exampleInputEmail1" name="valor_final">
        </div>

        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>
{% endblock %}