{% extends 'base.html' %}
{% block 'titulo' %}Visualizar Serviços{% endblock %}

{% block 'Material' %}

<h1>Os Serviços são</h1>
<hr>
<form method="get">
  {{ filter.form.as_p }}
  <button type="submit">Buscar</button>
</form>
<br>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Projeto</th>
      <th scope="col">nota</th>
      <th scope="col">status</th>
      <th scope="col">Descricao</th>
      <th scope="col">Local</th>
      <th scope="col">Data Inicio</th>
      <th scope="col">Data Fim</th>
      <th scope="col">Data Programacao</th>
      <th scope="col">Equipe</th>
      <th scope="col">valor inicial</th>
      <th scope="col">valor final</th>
    </tr>
  </thead>
  <tbody>
      {% for Servico in visualizar_servicos %}
        <tr>
          <td>{{Servico.Projeto}}</td>
          <td>{{Servico.Nota}}</td>
          <td>{{Servico.Status}}</td>
          <td>{{Servico.Descricao}}</td>
          <td>{{Servico.Local}}</td>
          <td>{{Servico.Data_Inicio}}</td>
          <td>{{Servico.Data_Fim}}</td>
          <td>{{Servico.Data_Programacao}}</td>
          <td>{{Servico.Equipe}}</td>
          <td>R$ {{Servico.valor_inicial}}</td>
          <td>R${{Servico.valor_final}}</td>
        </tr>
      {% endfor %}
  </tbody>
</div>
</table>

{% endblock %}